:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.randomQt {
  display: flex;
  flex-direction: column;
}

.qtText {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.25;
  padding-left: 6rem;
  border-left: 8px #f7df94 solid;
  position: relative;
  overflow: hidden;
  z-index: 2;
  @media only screen and (max-width:40rem) {
    padding-left:3rem;
    font-size: 1.5rem;
  }

  &.list {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    @media only screen and (max-width:40rem) {
      font-size: 1.2rem;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f7df94;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.loading {
    &:after {
      animation:moveStart forwards 0.3s;
    }
  }
  &.done {
    &:after {
      animation:moveEnd forwards 0.3s;
    }
  }
}
@keyframes moveStart {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes moveEnd {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.qtInfo {
  padding: 3rem 6rem;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  margin-top: 6rem;
  @media only screen and (max-width:40rem) {
    padding: 3rem 3rem;
  }

  &:before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: -1;
    transform: translateX(-100%);
    position: absolute;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.1s;
  }
  h4 {
    color: #454545;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;
    @media only screen and (max-width:40rem) {
      font-size: 1rem;
    }
  }
  span {
    color: #828282;
  }
  &:hover {
    h4 {
      color: #fff;
    }
    &:before {
      transform: translateX(0);
    }
  }
  img {
    width: 2rem;
    position: absolute;
    right: 6rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.loading {
    &:after {
      animation:moveStart forwards 0.3s;
    }
  }
  &.done {
    &:after {
      animation:moveEnd forwards 0.3s;
    }
  }
}
header {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  button {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;

    img {
      width: 1.5rem;
      margin-left: 0.5rem;
    }
  }
}
footer {
  text-align: center;
  padding: 1rem;
  a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: 700;
  }
}
.autherName {
  padding: 3rem 6rem;
  font-size: 2.2rem;
  @media only screen and (max-width:40rem) {
    padding:3rem;
    font-size: 1.5rem;
  }

}
